* {
  padding: 0;
  margin: 0;
}
ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  text-decoration: none;

  width: 980px;
  margin: 0px auto;
}
header {
  background-color: black;
  padding: 12px 0px 10px;
}
header img {
  width: 18px;
}
li a {
  color: white;
  text-decoration: none;
  padding: 12px 0px 10px;
}
.sec-div1 {
  text-align: center;
}
.sec-div1 h1 {
  font-weight: 700;
  font-size: 56px;
}
.sec-div1 p {
  font-size: 1.2em;
}
#text {
  font-size: 2.5em;
  margin-bottom: 18px;
}
.sec-div1 a {
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
}
.section-1 {
  margin: 20px auto 0px auto;
  width: 980px;
  padding: 0px 10px;
}
.laptop-img img {
  padding-left: 152px;
}
