* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
img {
  width: 100%;
}
ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  text-decoration: none;

  width: 980px;
  margin: 0px auto;
}
header {
  background-color: black;
  padding: 12px 0px 10px;
}
header img {
  width: 18px;
}
li a {
  color: white;
  text-decoration: none;
  padding: 12px 0px 10px;
}
a {
  color: #06c;
}
a:hover {
  color: black;
}
.sec-div1 {
  text-align: center;
}
.sec-div1 h1 {
  font-weight: 700;
  font-size: 56px;
}
.sec-div1 p {
  font-size: 1.2em;
}
#text {
  font-size: 2.5em;
  margin-bottom: 18px;
}
.sec-div1 a {
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
}
.macbook {
  margin: 20px auto 0px auto;
  width: 980px;
  padding: 25px 0px;
}
.laptop-img img {
  padding-left: 120px;
  width: 721px;
}
.iphone-11-pro {
  text-align: center;
  background-image: url(../images/iphone11-pro-bg.jpg);
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 20px;
  color: #fff;
}
.iphone-text h1 {
  font-weight: 600;
  font-size: 63px;
}
.iphone-text h3 {
  font-size: 29px;
  padding: 10px 0px;
}
.iphone-text p {
  color: #86868b;
  font-size: 1.1em;
  margin-bottom: 13px;
}
.iphone-text ul {
  display: flex;
  width: 210px;
  font-size: 25px;
}
.iphone-text ul li a {
  color: #06c;
  text-decoration: none;
}
.iphone-text ul li a:hover {
  color: black;
}
.iphone-11 {
  background-image: url(../images/iphone11-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
  padding: 65px 20px;
}
.iphone-11-text {
  text-align: center;
}
.iphone-11-text h1 {
  font-weight: 600;
  font-size: 63px;
}
.iphone-11-text .text {
  font-size: 29px;
  padding: 10px 0;
}
.iphone-11-text p {
  color: #86868b;
  font-size: 1.1em;
  margin-bottom: 13px;
}
.iphone-11-text a {
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
}
.watch-card {
  display: flex;
}
.watch {
  background-image: url(../images/watch-series-5.jpg);
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 48.5%;
  margin: 1% 0.5% 0% 1%;
  padding-top: 54px;
}
.watch img {
  font-size: 40px;
  font-weight: bold;
  width: 156px;
}
.watch p {
  max-width: 430px;
  margin: 0 auto;
  padding: 10px;
  font-size: 25px;
  margin-bottom: 10px;
}
.watch a {
  margin-left: 5px;
  margin-right: 38px;
  font-size: 25px;
  text-decoration: none;
}
.card {
  background-image: url(../images/apple-card.jpg);
}

.card {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 48.5%;
  margin: 1% 1% 0% 0.5%;
  padding-top: 54px;
}
.card img {
  width: 236px;
}
.card p {
  max-width: 430px;
  margin: 0 auto;
  padding: 10px;
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px;
}
.card a {
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
}
.tv-airpod {
  display: flex;
}
.tv {
  background-image: url(../images/apple-tv-background.jpg);
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 48.5%;
  margin: 1% 0.5% 0% 1%;
  padding-top: 54px;
}

.first-img {
  width: 95px;
  margin-left: 315px;
}
.second-img {
  width: 450px;
  margin-left: 143px;
  margin-top: 7px;
  padding: 180px 0 200px;
}
.airpod {
  background-image: url(../images/air-pods.jpg);
  background-repeat: no-repeat;
  color: #fff;
  background-size: initial;
  background-color: #000;
  background-position: bottom;
  height: 580px;
  text-align: center;
  width: 48.5%;
  margin: 1% 0.5% 0% 1%;
  padding-top: 54px;
}
.tv a {
  text-decoration: none;

  font-size: 0.85em;
  color: -webkit-link;
  cursor: pointer;
}
.tv a::after {
  content: " ▶";
  color: -webkit-link;
  font-size: 14px;
  margin-left: 5px;
}
.airpod h1 {
  margin-bottom: 10px;
}
.airpod p {
  margin-bottom: 19px;
}
.airpod a {
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
}
.airpod a::after {
  content: " >";
  font-size: 20px;
  margin-left: 5px;
}
.macbook-ipad {
  display: flex;
}
.sec-macbook {
  background-image: url(../images/macbook-pro.jpg);
  height: 580px;
  background-repeat: no-repeat;
  text-align: center;
  background-size: initial;
  background-color: #fafafa;
  background-position: bottom;
  width: 48.5%;
  margin: 1% 0.5% 0% 1%;
  padding-top: 54px;
}
.sec-macbook a {
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
}
.sec-macbook a::after {
  content: " >";
  font-size: 20px;
  margin-left: 5px;
}
.sec-macbook h1 {
  font-size: 50px;
  margin-bottom: 13px;
}
#text-1 {
  font-size: 20px;
  margin-bottom: 10px;
}
#text-2 {
  font-size: 23px;
  margin-bottom: 19px;
}
.ipad {
  background-image: url(../images/new-ipad.jpg);
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 48.5%;
  margin: 1% 1% 0% 0.5%;
  padding-top: 54px;
}
.ipad img {
  width: 76px;
  margin-bottom: 10px;
}
.ipad p {
  font-size: 22px;
  margin-bottom: 17px;
  margin-top: 6px;
}
.ipad a {
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
}
.ipad a::after {
  content: " >";
  font-size: 20px;
  margin-left: 5px;
}
